<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OpenCart Regression Suite" parallel="tests" thread-count="3" verbose="4">
    <listeners>
        <listener class-name="com.qa.opencart.listeners.ExtentReportListener"></listener>
        <listener class-name="com.qa.opencart.listeners.TestAllureListener"></listener>
    </listeners>
    <!--<test name="AccountPageTest">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.qa.opencart.tests.AccountPageTest"></class>
        </classes>
    </test>-->
    <test name="LoginPageTest">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="com.qa.opencart.tests.LoginPageTest"></class>
        </classes>
    </test>
<!--    <test name="ProductInfoPageTest">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.qa.opencart.tests.ProductInfoPageTest"></class>
        </classes>
    </test>
    <test name="SearchTestPage">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.qa.opencart.tests.SearchTestPage"></class>
        </classes>
    </test>-->
</suite>